@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
// colors
$orange-primary: hsl(26, 100%, 55%);
$pale-orange-primary: hsl(25, 100%, 94%);

// Neutral colors
$very-dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

//body
$p-font-size: 16px;

$font-type: "Kumbh Sans", "Comic Sans";
$weight-400: 400;
$weight-700: 700;