@import "./style";
@import "./image-format";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;

    .top {
      #cart-btn,
      .toggleMenu,
      #profile {
        padding: 0.6rem;
        border: none;
        background-color: transparent;
      }
      #logo {
        padding-right: 5rem;
      }
      .avatar {
        width: 21px;
        height: auto;
      }
    }
  }
}

.collections {
  display: block;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $white;
  overflow-x: hidden;
  transition: 0.5s;
  .toggleMenu {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
  }

  .list-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4rem;
    left: 1rem;
    ul {
      list-style-type: none;
      li {
        font-family: $font-type;
        padding: 0.5rem;
        font-weight: $weight-700;
        font-size: $p-font-size;
        a {
          text-decoration: none;
        }
        a:link,
        a:visited {
          color: black;
        }
      }
    }
  }
}

.slideshow-container {
  margin: auto;
  display: block;
  .slides {
    display: none;
    width: 100%;
    position: absolute;
    .stock-img {
      width: 100%;
      height: 35vh;
    }
  }
  .dirBtn-container {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    .prevBtn,
    .nextBtn {
      border: none;
      align-items: center;
      border-radius: 90%;
      width: 2.5rem;
      height: 2.5rem;
      position: relative;
      top: 15vh;
      opacity: 40%;
    }
    .prevBtn:hover,
    .nextBtn:hover {
      opacity: 80%;
    }
  }
  // dots
  .circle-index {
    position: relative;
    top: 27vh;
    display: flex;
    justify-content: center;
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: $pale-orange-primary;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active,
    .dot:hover {
      background-color: $orange-primary;
    }
  }
}

.details {
  display: block;
  position: relative;
  top: 12rem;
  padding: 0.5rem;
  margin: 0.75rem;
  article {
    display: flex;
    flex-direction: column;
    .companyName {
      color: $orange-primary;
      font-family: $font-type;
      font-weight: $weight-700;
      font-size: $p-font-size;
      margin: 0.3rem;
    }
    .promotation {
      color: $black;
      font-family: $font-type;
      font-weight: $weight-700;
      font-size: 1.8rem;
      margin: 0.3rem;
    }
    .desc {
      color: $dark-gray-blue;
      font-family: $font-type;
      font-size: $p-font-size;
      line-height: 150%;
      margin: 0.3rem;
    }
  }
  .userInput {
    display: block;
    position: relative;
    //  top container holding price information
    .priceInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1,
      h3 {
        font-family: $font-type;
        font-size: 1rem;
      }
      .price {
        font-size: 1.8rem;
      }
      .discount {
        position: absolute;
        left: 7.5rem;
        width: 3rem;
        height: 1.5rem;
        border-radius: 20%;
        text-align: center;
        color: $orange-primary;
        background-color: $pale-orange-primary;
      }
      .prevPrice {
        color: $gray-blue;
        text-decoration: line-through;
      }
    }
    // bottom half where buttons are located
    .quantity {
      display: flex;
      justify-content: space-between;
      background-color: $light-gray-blue;
      align-items: center;
      font-family: $font-type;
      font-weight: $weight-700;

      .qBtn {
        border: none;
        padding: 1rem;
      }
    }
    .checkoutBtn {
      border: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $orange-primary;
      color: $white;
      width: 15rem;
      height: 5rem;
      border-radius: 5%;
      font-family: $font-type;
      font-weight: $weight-700;
    }
  }
}

.attribution {
  position: fixed;
  text-align: center;
  bottom: 0;
  // 
}
