@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

header nav .top #cart-btn,
header nav .top .toggleMenu,
header nav .top #profile {
  padding: 0.6rem;
  border: none;
  background-color: transparent;
}

header nav .top #logo {
  padding-right: 5rem;
}

header nav .top .avatar {
  width: 21px;
  height: auto;
}

.collections {
  display: block;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.collections .toggleMenu {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.collections .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 4rem;
  left: 1rem;
}

.collections .list-container ul {
  list-style-type: none;
}

.collections .list-container ul li {
  font-family: "Kumbh Sans", "Comic Sans";
  padding: 0.5rem;
  font-weight: 700;
  font-size: 16px;
}

.collections .list-container ul li a {
  text-decoration: none;
}

.collections .list-container ul li a:link,
.collections .list-container ul li a:visited {
  color: black;
}

.slideshow-container {
  margin: auto;
  display: block;
}

.slideshow-container .slides {
  display: none;
  width: 100%;
  position: absolute;
}

.slideshow-container .slides .stock-img {
  width: 100%;
  height: 35vh;
}

.slideshow-container .dirBtn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2rem;
}

.slideshow-container .dirBtn-container .prevBtn, .slideshow-container .dirBtn-container .nextBtn {
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 90%;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  top: 15vh;
  opacity: 40%;
}

.slideshow-container .dirBtn-container .prevBtn:hover, .slideshow-container .dirBtn-container .nextBtn:hover {
  opacity: 80%;
}

.slideshow-container .circle-index {
  position: relative;
  top: 27vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slideshow-container .circle-index .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ffede0;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.slideshow-container .circle-index .active, .slideshow-container .circle-index .dot:hover {
  background-color: #ff7d1a;
}

.details {
  display: block;
  position: relative;
  top: 12rem;
  padding: 0.5rem;
  margin: 0.75rem;
}

.details article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details article .companyName {
  color: #ff7d1a;
  font-family: "Kumbh Sans", "Comic Sans";
  font-weight: 700;
  font-size: 16px;
  margin: 0.3rem;
}

.details article .promotation {
  color: black;
  font-family: "Kumbh Sans", "Comic Sans";
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0.3rem;
}

.details article .desc {
  color: #68707d;
  font-family: "Kumbh Sans", "Comic Sans";
  font-size: 16px;
  line-height: 150%;
  margin: 0.3rem;
}

.details .userInput {
  display: block;
  position: relative;
}

.details .userInput .priceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details .userInput .priceInfo h1, .details .userInput .priceInfo h3 {
  font-family: "Kumbh Sans", "Comic Sans";
  font-size: 1rem;
}

.details .userInput .priceInfo .price {
  font-size: 1.8rem;
}

.details .userInput .priceInfo .discount {
  position: absolute;
  left: 7.5rem;
  width: 3rem;
  height: 1.5rem;
  border-radius: 20%;
  text-align: center;
  color: #ff7d1a;
  background-color: #ffede0;
}

.details .userInput .priceInfo .prevPrice {
  color: #b6bcc8;
  text-decoration: line-through;
}

.details .userInput .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f8fd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kumbh Sans", "Comic Sans";
  font-weight: 700;
}

.details .userInput .quantity .qBtn {
  border: none;
  padding: 1rem;
}

.details .userInput .checkoutBtn {
  border: none;
  background-color: #ff7d1a;
  color: white;
  max-width: 2rem;
  height: 5rem;
}

.attribution {
  position: fixed;
  text-align: center;
  bottom: 0;
}
/*# sourceMappingURL=input.css.map */